dataset/*.zip filter=lfs diff=lfs merge=lfs -text
dataset/*.tar.gz filter=lfs diff=lfs merge=lfs -text
dataset/*.xls filter=lfs diff=lfs merge=lfs -text
dataset/*.xlsx filter=lfs diff=lfs merge=lfs -text
dataset/knot_info.json filter=lfs diff=lfs merge=lfs -text
